body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: grab;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
    color: green;
}

#cursor {
    z-index: 2;
    color: yellow;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    display: none;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}